Infrastructure Report
=====================

Host Information
----------------
Inventory Name : {{ inventory_hostname }}
Hostname       : {{ ansible_hostname }}
FQDN           : {{ ansible_fqdn }}
Operating System : {{ os_pretty_name.stdout }}
Kernel         : {{ ansible_kernel }}
Architecture   : {{ ansible_architecture }}